# CMake folders
CMakeFiles
# CMake files
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# folder
docs/html/
docs/latex/
lib/
bin/
obj/
logs/
build/
.vscode/
.clangd/
.cache/

# files
*.so
!libassimp.so
